@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700|Noto+Sans:400,700|Noto+Serif);

/* -------  Structure ------- */

body {
	background-image:url(images/webb-dark.png);
  	margin: 0;
}

header {
	height: 140px;
	background-color: #403933;
	background-image:url(images/webb-dark.png);
}

footer {
	height: 84px;
	background-color: #403933;
	background-image:url(images/webb-dark.png);
}

.wrapper {
	width: 580px;
	margin: auto;	
}

img {
 	width: 100%;	
}


/* -------  Logo ------- */

header h1 {
	font-family: 'Playfair Display', serif;
	color: white;
	margin: 0px;
	padding-top: 24px;
	font-size: 48px;
	text-align:center;
}

header h2 {
	font-family: 'Playfair Display', serif;
	color: white;
	margin: 0px;
	padding-top: 16px;
	font-size: 22px;
	text-align: center;
}

/* -------  Type ------- */

h1, h2 {
	color: white;
	font-family: 'Noto Serif', serif;
}

h1 { font-size: 38px;}
h2 { font-size: 30px;}

p, li {
	font-family: 'Noto Sans', sans-serif;
	color: white;
	font-size: 18px;
	font-weight: 400;
    line-height: 26px;
}

ul {
 list-style-image: url('images/common/coffee-cup-icon.png');
}

a {
	font-weight: 700;
	text-decoration: none;	
}

a:link { color: white; }
a:visited { color: tan; }
a:hover { color: grey; }
a:active { color: black; }


a:hover {
	text-decoration: underline;	
}

footer p {
	color: #fff;	
	text-align: center;
}
footer a:link { color: white; }
footer a:visited { color: tan; }
footer a:hover { color: grey; }
footer a:active { color: black; }


/* -------  Elements ------- */

img, iframe { border-radius: 8px;} 

iframe { border: 1px solid #403933;}

hr { border-top: 2px dotted white;}

ul.coffee li {list-style-image: url('images/coffee-cup-icon.png'); }

/* -------  Spacers ------- */  

.gap-sm {
    height: 50px;
    width: auto;
}
.gap-md {
    height: 100px;
    width: auto;
}
.gap-lg {
    height: 200px;
    width: auto;
}

.gap-footer {
    height: 10px;
    width: auto;
}
